// {
//     "presets": [
//       ["@babel/env", {
//         "targets": {
//           "node": "current"
//         }
//       }]
//     ],
//     "plugins": [
//       "@babel/plugin-proposal-class-properties",
//       "@babel/plugin-proposal-object-rest-spread"
//     ],
//     "exclude": ["node_modules/**", "node_modules/yamljs/**"]
//   }

{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "node": "current"
          }
        }
      ],
      "@babel/preset-modules"
    ],
    "plugins": [
      "@babel/plugin-proposal-class-properties",
      "@babel/plugin-proposal-object-rest-spread"
    ]
  }
